# Configuration file
/config.php
/secrets.php

# NodeJS dependencies
/node_modules/

# Coingecko export data
/coingecko.json
/coingecko-original.json

# Haveno.markets data
/haveno.json
/haveno-original.json

# Compiled files
/js/
/css/

/output