# Configuration file
/config.php

# NodeJS dependencies
/node_modules/

# Coingecko export data
/coingecko.json
/coingecko-original.json
/coingecko-currencies.json

# Secret files
/secrets.php

# Compiled files
/js/
/css/
