html {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #013c4a 0, #193e4c 44%, #004b5b 100%) !important;
    color: #fff;
    font-style: normal;
}

body {
    background-color: transparent;
}

p.fiat-info {
    color: #4d4d4d;
}

p.fiat-info span,
a.fiat-tooltip {
    color: white;
}

.btn {
    padding: 2px;
    font-size: 0.8rem;
    font-weight: bold;
}

.clipboard-copy {
    border-top: 1px;
    border-bottom: 1px;
    width: auto !important;
}

table.table {
    max-width: 472px;
    margin: auto;
    --bs-table-bg: transparent;
}

.input-group-text {
    width: 24%;
    font-weight: 800;
}

input.form-control {
    font-weight: 800;
}

.equals-box {
    text-align: center;
    color: #e9ecef;
    font-weight: 800;
    font-size: 42px;
    padding-bottom: 1;
}

.btn-arrow {
    border: 1px solid white;
    border-radius: 10px;
    font-size: 38px !important;
    color: white;
    padding: 0;
    cursor: pointer;
}

.btn-arrow:hover {
    border: 1px solid black;
    color: black;
}

.btn-equals {
    font-size: 38px !important;
    color: white;
    padding: 0;
    cursor: default;
}

.btn-equals:hover {
    color: black;
}

.equals-text {
    vertical-align: super;
}

p {
    color: #e9ecef;
}

.gold {
    color: #e8be74;
}

.cursor-default {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

@media (max-width: 475px) {
    .btn {
        padding: 1px;
        font-size: 12px;
    }

    h1 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.88rem;
    }
}

@media (min-width: 768px) {
    .btn {
        min-width: 38px;
    }
}

@media (min-width: 1400px) {
    small.text-info {
        padding-right: 7%;
    }
}

.bs-tooltip-auto {
    padding: 0.4rem 0;
}

.bs-tooltip-auto .tooltip-arrow {
    bottom: 0;
}

.bs-tooltip-auto .tooltip-arrow::before {
    top: -1px;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: #000;
}